@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  min-height: 100vh; 
}

nav {
  background-color: rgb(0, 0, 0);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 1vh 2vw; 
  animation-name: slideFromTop;
  animation-duration: 1s;
  animation-delay: 0.9s;
  animation-fill-mode: forwards;
  opacity: 0;
  z-index: 999;
  position: relative;
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

nav ul {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 10vh;
}

nav a {
  height: 100%;
  color: #ffffff;
  padding: 0 2vw;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

nav a:hover {
  background-color: gray;
}

nav li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.836);
  backdrop-filter: 10px;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li{
  width: 100%;
}

.sidebar a{
  width: 100%;
}

.sidebar a:hover {
  background-color: gray;
}

.menu-button{
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%; 
  height: 52vh;
  overflow: hidden;
  background-color: rgba(241, 241, 239, 0.959);
  margin: auto;
  padding: 2vh;
  box-shadow: 10px 10px 5px rgba(73, 73, 73, 0.568);
  animation: slideFromSides 1.4s ease-in-out;
  animation-delay: 0.5s;
  opacity: 0;
  animation-fill-mode: forwards;
  z-index: 10;
}

@keyframes slideFromSides {
  0% {
    clip-path: inset(0 50% 0 50%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}

.image {
  width: 30vh;
  min-width: 20vh; 
  height: auto; 
  border: 0.2vw solid black;
  border-radius: 30%;
}

.line-with-text {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  
}

.line-with-text::before,
.line-with-text::after {
  content: "";  
  flex: 2;
  border-bottom: 0.2vw solid gray;
  margin: 0 5vw;
}

.introduction{
  font-size: 1.2rem;
  animation-name: slidetoTop;
  animation-duration: 1.4s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes slidetoTop {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }  
}

@media (max-width: 800px) {
  .menu-button{
      display: block;
  }

  body {
      font-size: 1vw;
  }

  .hideOnSmallDev{
      display: none;
  }

  .container {
      width: 100%;
      height: 35vh;
  }

  .image {
      width: 20vw;
      max-width: 200px;
      border-width: 0.3vw;
  }

  nav li {
    height: 8vh;
}

  nav a {
    font-size: small;
    padding: 0 4vw;
}

  .introduction{
    font-size: medium;
  }

  .imageContact{
    display: none;
  }
}

@media (max-width:400px) {
    body{
      font-size: 2vw;
  }
    .sidebar{
      width: 100%;
    }

  .container {
      width:100%;
      max-width: 60vh;
  }

  .image{
    width: 100%;
    max-width: 120px;
    border-width: 0.1vw;
  }
  
  .introduction{
    font-size: large;
  }

 nav li {
      height: 8vh;
  }

  nav a {
      font-size: 1.5em;
      padding: 0 4vw;
  } 

  .line-with-text {
      font-size: large;
  }
}

                                                                             /* TECHSTACK */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 52vh;
  overflow: visible;
  background-color: rgba(241, 241, 239, 0.959);
  margin: auto;
  padding: 2vh;
  box-shadow: 10px 10px 5px rgba(14, 13, 13, 0.568);
  animation: slideFromSides 1s ease-in-out;
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
  padding: auto;
  z-index: 10;
}

.techContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 70vw;
  height: auto;
  padding: 4vh 2vw;
}

.progLang{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 30vw;
  min-width: 500px;
  height: auto;
  min-height: 40vh; 
  padding: 1;
  box-sizing: border-box;
  border-radius: 12px;
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 20px;
  box-shadow:  0 0 8px #faafaf, 0 0 20px rgb(252, 85, 196);
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.progLang:hover{
  transform: scale(1.03);
}

.upperPart {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2vw;
  height: auto;
  width: 90%;
  font-size: 1rem;
  font-style: oblique;
}

.lowerPart1{
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 33%;
  width: 90%;
}

.lowerPart2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 32%;
  width: 90%;
}

.card{
  padding: 6px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 8px;
}

.card:hover {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
}

.plContainer {
  padding: 4px 16px;
}

.devTools{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 30vw;
  min-width: 500px;
  height: auto;
  min-height: 40vh; 
  box-sizing: border-box;
  border-radius: 12px;
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 20px;
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  box-shadow:  0 0 8px #faafaf, 0 0 20px rgb(252, 85, 196);
}

.devTools:hover {
  transform: scale(1.03);
  
}

.dtTitle {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2vw;
  height: auto;
  width: 90%;
  font-size: 1rem;
  font-style: oblique;
}

.dtBody{
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 65%;
  width: 90%;
}

@media (max-width: 1700px) {
  .card {
    font-size: 1.4rem;
  }

  .devTools{
    margin-top: 30px;
  }
}

@media (max-width: 800px) {

  .techContainer {
    min-width: 350px;
  }

  .lowerPart1{
    align-items: center;
    justify-content: space-evenly;
  }

  .progLang {
    min-width: 300px;
    margin-left: 0;
    margin-top: 0;
  }

  .upperPart {
    font-size: .7rem;
  }

  .devTools {
    min-width: 300px;
    margin-left: 0;
    margin-top: 20px;
  }

  .dtTitle {
    font-size: .7rem;
  }

  .card {
    justify-content: space-between;
    flex-direction: column;
    font-size: .7rem;
    overflow: hidden;
    min-width: auto;
    min-height: 60px;
  }
  
}

@media (max-width:400px) {
  
  .techContainer{
    min-width: 300px;
  }

  .progLang {
    min-width: 250px;
    margin-left: 0;
    margin-top: 0;
  }

  .upperPart {
    font-size: .6rem;
  }

  .devTools {
    min-width: 250px;
    margin-left: 0;
    margin-top: 20px;
  }

  .dtTitle {
    font-size: 0.6rem;
  }

  .card {
    font-size: 0.5rem;
  }
}

                                                                             /* CONTACT */

.containerContact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 52vh;
  overflow: visible;
  background-color: rgba(241, 241, 239, 0.959);
  margin: auto;
  padding: 2vh;
  box-shadow: 10px 10px 5px rgba(14, 13, 13, 0.568);
  animation: slideFromSides 1s ease-in-out;
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
  padding: auto;
  z-index: 10;
}

.headerContact {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  width: 70vw;
  height: auto;
}

.contactText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 30vw;
  min-width: 300px;
  height: auto;
  min-height: 30vh; 
  padding: 1;
  box-sizing: border-box;
}

.upperHalf{
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2vw;
  height: auto;
  width: 90%;
  font-style: oblique;
}

.lowerHalf{
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 50%;
  width: 90%;
}

a i{
  font-size: 5vh;
  color: black;
  transition: 0.3s;
}

a i:hover{
  color: rgb(252, 85, 196);
}

.gmailContainer{
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1;
  width: 30vw;
  min-width: 300px; 
  height: auto;
  margin-top: 4vh;
  padding: 1vh;
  gap: 20px;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.gmailMessage{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 80%;
  margin: 0;
}

.contactInput{
  width: 100%;
  height: 6vh;
  border: none;
  outline: none;
  font-weight: 500;
  padding-left: 25px;
  color: black;
  border-radius: 20px;
  box-sizing: border-box;
}

.gmailMessage textarea{
  padding-top: 1vh;
  height: 15vh;
  border-radius: 20px;
}

.contactInput:focus{
  border: 2px solid rgb(252, 85, 196);
}

.contactInput::placeholder{
  color: #a9a9a9;
}

.gmailMessage button{
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: #fff;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(380deg, #faafaf, rgb(252, 85, 196));
  cursor: pointer;
}

.h1Contact{
  font-size: 2.3rem;
}

.pContact{
  font-size: 1.5rem;
}

@media (max-width: 1024px) {
  .headerContact {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto; 
  }

  .lowerHalf{
    margin-top: 3vh;
  }

  .contactText,
  .gmailContainer {
    width: 80%;
    height: auto;
  }

  .containerContact {
    height: auto; 
    overflow: visible;
  }
}

@media (max-width: 800px) {
  .h1Contact{
    font-size: 2.3rem;
  }

  .pContact{
    font-size: 1rem;
  }

  .lowerHalf{
    margin-top: 3vh;
    height: 50%;
  }

  a i{
    font-size: 2.4rem;
  }
  
}

@media (max-width: 400px) {
  .h1Contact{
    font-size: 2rem;
  }

  .pContact{
    font-size: 1rem;
  }
}

